<div class="wrap">
<div class="chback">
  <div class="calnav">
    <div class="calimgwrap">
      <div class="calimginner">
      <a href="/">  <%= image_tag("callogo.jpg")%></a>
      </div>
    </div>
  </div>
  <div class="callist">
    <div class="callistwrap">
    <ul>
      <li><a href="/mealprep">Meal Prep</a></li>
      <li class="norightpad"><a href="/catering">Catering</a></li>
      <li><a href="/"><div class="twologo"><%= image_tag("caltwologo.jpg")%></div></a></li>
      <li class="noleftpad"><a href="/personalchef">Personal Chef</a></li>
     <li><a href="/contact">Contact</a></li>
    </ul>
  </div>
  </div>





</div>
<div class="chlanding abth">
  <div class="fwwr">
  <h1>A Closer Look</h1>
  <p class="italic">50% non refundable security deposit<p>
  </div>
</div>



<div class="aboutmeet">
  <div class="greentxt">Biography</div>
  <h3>Meet Chef Ayman</h3>
  <p> </p>
</div>
<div class="aboutcontentwrap backset">
<div class="aboutcontent">
  <div class="textwrap">
   <%= image_tag("abouttwo.jpg") %>
  </div>
  <p class="pc">
    Having recovered from cancer at a young age, Ayman hadn’t fully regained his taste palate until several years later. Through the years and while exploring several cuisines, learning from countless cooking shows and following his favorite Chefs: Emeril, Gordon, and his culinary teachers, Ayman discovered a newly found appreciation for taste, and more importantly, grew his curiosity of cooking and creating these flavours . <br>
  <br>
  With gratitude, <br>
Chef Ayman of Calor Food<br>
<span class="biggersocial blcc"><i class="fab fa-instagram"></i>&nbsp;&nbsp;&nbsp;<i class="fab fa-tiktok"></i></span>

  </p>
</div>
</div>




<div class="mapcontain">
  <iframe src="https://maps.google.com/maps?q=Washington%20Metropolitan%20Area&t=&z=9&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>


<div class="maplimit">
  <div class="mapright">
    <div class="contactbox">
    <div class="contacthead"> Where We Are</div>
    <div class="contactmidleft">
      <ul class="leftlist">
        <li>Locations:</li>
        <li>Schedule:</li>
        <li>Phone: </li>
      </ul>

    </div>
    <div class="contactmidright">
      <ul class="rightlist">
        <li>DC • MD • VA</li>
        <li>Mon - Fri 10 am -8pm</li>
        <li>chef@calorfood.com</li>
      </ul>
    </div>
    </div>
  </div>
</div>
</div>

<div class="calemail altemail">
  <div class="calemailhead">
    <div class="calemailwrap">
    <h1>Dine With CalorFood</h1>
    <div class="calemailbtn"><p>Book Now</p></div>
    </div>
  </div>
</div>


<div class="cfoot">
  <div class="cfootupperhold">
  <div class="cfootupper">
    <div class="cfootleft controlp">
      <p>chef@calorfood.com </p>
      <p>(phone number)</p>
      <span>*Halal</span>
    </div>
    <div class="cfootright controlp">
      <p>*hours of operation</p>
      <p><i class="fas fa-map-marker-alt"></i>&nbsp;&nbsp;DMV Area</p>
      <span class="biggersocial"><i class="fab fa-instagram"></i>&nbsp;&nbsp;&nbsp;<i class="fab fa-tiktok"></i></span>
    </div>
    </div>
  </div>
<p>Calor Food, LLC. "Fresh and Tasteful Creations"</p>
</div>

</div>
