<div class="wrap ">
  <div class="chback">
    <div class="calnav">
      <div class="calimgwrap">
        <div class="calimginner">
        <a href="/">  <%= image_tag("callogo.jpg")%></a>
        </div>
      </div>
    </div>
    <div class="callist">
      <div class="callistwrap">
      <ul>
        <li><a href="/mealprep">Meal Prep</a></li>
        <li class="norightpad"><a href="/catering">Catering</a></li>
        <li><a href="/"><div class="twologo"><%= image_tag("caltwologo.jpg")%></div></a></li>
        <li class="noleftpad"><a href="/personalchef">Personal Chef</a></li>
       <li><a href="/contact">Contact</a></li>
      </ul>
    </div>
    </div>




<div class="chlanding toast">
  <div class="fwwr">
  <h1>Catering</h1>
  <p class="italic">50% non refundable security deposit<p>
  </div>
</div>
  </div>
  <div class="chcatering">
    <div class="chcateringbox">
      <div class="chbimage backset"></div>
      <div class="chbtext">
        <h1>Memorable Events</h1>
        <p>We Cater! Contact us today to order. Pricing starts from $75 to feed approximately 5 People with one main course and a selection of side and salad</p>
      </div>
    </div>
  </div>
  <div class="chlandingnext toasttwo chlanding">
    <h1>Our Menu</h1>
  </div>
  <div class="caterlinks">


    <div class="clinksitem">
      <div class="clinksimgwrap">
        <div class="clinksimg takeone"></div>
      </div>
      <div class="clinkstext">
        <div class="clinkstextul">
        <ul>
          <li><h3>Main</h3></li>
          <li><h1>View our main entrees.</h1></li>
          <li><p><span class=thnt>- </span>Beef/Vegetarian Lasagna</p></li>
          <li><p><span class=thnt>- </span>Cheesy Creamy Pasta</p></li>
          <li><p><span class=thnt>- </span>Chicken WIngs <span class="thnt">(Turkish style, Buffalo, Garlic Parmesan, BBQ and more)</span></p></li>
           <li><p><span class=thnt>- </span>Roasted Beef Eye Round</p></li>
          <li><p><span class=thnt>- </span>Vegetarian, Shrimp, Beef, Or Chicken Fried Rice/Lo Mein</p></li>
          <li><p><span class=thnt>- </span>Pan Seared Salmon</p></li>
        </ul>
      </div>
      </div>
    </div>

    <div class="clinksitem">
      <div class="exmar clinkstext">
        <div class="clinkstextul taright">
        <ul>
          <li><h3>Sides</h3></li>
          <li><h1>Try Our Sides</h1></li>
          <li><p><span class=thnt>- </span>Mashed Potatoes</p></li>
          <li><p><span class=thnt>- </span>Macaroni and Cheese</p></li>
          <li><p><span class=thnt>- </span>Roasted Vegetables</p></li>
          <li><p><span class=thnt>- </span>White or Brown Rice</p></li>
        </ul>
      </div>
      </div>
      <div class="clinksimgwrap">
        <div class="clinksimg taketwo"></div>
      </div>
    </div>

    <div class="clinksitem">
      <div class="clinksimgwrap">
        <div class="clinksimg takethree"></div>
      </div>
      <div class="exmar clinkstext">
        <div class="clinkstextul">
        <ul>
          <li><h3>Salads</h3></li>
          <li><h1>Our delicious salads</h1></li>
          <li><p><span class=thnt>- </span>Beet and Goat Cheese with Balsamic Vinaigrette</p></li>
          <li><p><span class=thnt>- </span>Classic Garden Salad with Citrus Vinaigrette</p></li>
          <li><p><span class=thnt>- </span>Caesar Salad</p></li>

        </ul>
      </div>
      </div>
    </div>

  </div>


  <div class="cfoot">
    <div class="cfootupperhold">
    <div class="cfootupper">
      <div class="cfootleft controlp">
        <p>chef@calorfood.com </p>
        <p>(phone number)</p>
        <span>*Halal</span>
      </div>
      <div class="cfootright controlp">
        <p>*hours of operation</p>
        <p><i class="fas fa-map-marker-alt"></i>&nbsp;&nbsp;DMV Area</p>
        <span class="biggersocial"><i class="fab fa-instagram"></i>&nbsp;&nbsp;&nbsp;<i class="fab fa-tiktok"></i></span>
      </div>
      </div>
    </div>
  <p>Calor Food, LLC. "Fresh and Tasteful Creations"</p>
  </div>
</div>
