<div class="wrap">




  <div class="chback">
    <div class="calnav">
      <div class="calimgwrap">
        <div class="calimginner">
        <a href="/">  <%= image_tag("callogo.jpg")%></a>
        </div>
      </div>
    </div>
    <div class="callist">
      <div class="callistwrap">
      <ul>
        <li><a href="/mealprep">Meal Prep</a></li>
        <li class="norightpad"><a href="/catering">Catering</a></li>
        <li><a href="/"><div class="twologo"><%= image_tag("caltwologo.jpg")%></div></a></li>
        <li class="noleftpad"><a href="/personalchef">Personal Chef</a></li>
       <li><a href="/contact">Contact</a></li>
      </ul>
    </div>
    </div>




  <div class="chlanding mealbg">
    <div class="fwwr">
    <h1>Meal Prep</h1>
    <p class="italic">50% non refundable security deposit<p>
    </div>
  </div>
  </div>



  <div class="chinwrap margheavytop heavywidth">
        <div class="chinlistwrap">
        <ul>
          <li>
            <div class="chinitem chinheavywidth"><div class="chinsq one"></div>
            <div class="chinbot tacc">
              <p class="bpp">Soy glazed salmon</p>
              <p class="lpp">(choice of chicken or shrimp and rice or salad)</p>
            </div>
          </div>
        </li>
          <li>
            <div class="chinitem chinheavywidth"><div class="chinsq two"></div>
            <div class="chinbot tacc">
              <p class="bpp">South west bowl</p>
              <p class="lpp">(choice of green beans, broccoli or carrots and rice or potatoes) </p>
            </div>
          </div>
          </li>
          <li>
            <div class="chinitem chinheavywidth"><div class="chinsq three"></div>
            <div class="chinbot tacc">
              <p class="bpp">Mediterranean Bowl</p>
              <p class="lpp">( choice of chicken/shrimp/ground beef and rice or salad)</p>
            </div>
          </div>
        </li>
          <li>
            <div class="chinitem chinheavywidth"><div class="chinsq four"></div>
            <div class="chinbot tacc">
              <p class="bpp">Lemon Honey Chili Pepper glazed chicken</p>
              <p class="lpp">(choice of green beans, broccoli or carrots and rice or potatoes) </p>
            </div>
          </div>
        </li>
          <li>
            <div class="chinitem chinheavywidth"><div class="chinsq five"></div>
            <div class="chinbot tacc">
              <p class="bpp">Flank steak with Chimichurri</p>
            <p class="lpp">(choice of green beans, broccoli or carrots and rice or potatoes) </p></div>
          </div>
        </li>
          <li>
            <div class="chinitem chinheavywidth"><div class="chinsq six"></div>
            <div class="chinbot tacc"><p class="bpp">Asian Bowl</p>
              <p class="lpp">(choice of green beans, broccoli or carrots and rice or potatoes) </p>
            </div>
          </div>
        </li>
        </ul>
      </div>
      </div>


      <div class="calemail">
        <div class="calemailhead">
          <div class="calemailwrap">
          <h1>Dine With CalorFood</h1>
          <div class="calemailbtn"><p>Book Now</p></div>
          </div>
        </div>

      </div>


      <div class="cfoot">
        <div class="cfootupperhold">
        <div class="cfootupper">
          <div class="cfootleft controlp">
            <p>chef@calorfood.com </p>
            <p>(phone number)</p>
            <span>*Halal</span>
          </div>
          <div class="cfootright controlp">
            <p>*hours of operation</p>
            <p><i class="fas fa-map-marker-alt"></i>&nbsp;&nbsp;DMV Area</p>
            <span class="biggersocial"><i class="fab fa-instagram"></i>&nbsp;&nbsp;&nbsp;<i class="fab fa-tiktok"></i></span>
          </div>
          </div>
        </div>
      <p>Calor Food, LLC. "Fresh and Tasteful Creations"</p>
      </div>

</div>
