<div class="wrap">
  <div class="chback">
    <div class="calnav">
      <div class="calimgwrap">
        <div class="calimginner">
        <a href="/">  <%= image_tag("callogo.jpg")%></a>
        </div>
      </div>
    </div>
    <div class="callist">
      <div class="callistwrap">
      <ul>
        <li><a href="/mealprep">Meal Prep</a></li>
        <li class="norightpad"><a href="/catering">Catering</a></li>
        <li><a href="/"><div class="twologo"><%= image_tag("caltwologo.jpg")%></div></a></li>
        <li class="noleftpad"><a href="/personalchef">Personal Chef</a></li>
       <li><a href="/contact">Contact</a></li>
      </ul>
    </div>
    </div>




<div class="chlanding pcbg">

  <div class="fwwr">
  <h1>Personal Chef</h1>
  <p class="italic">50% non refundable security deposit<p>
  </div>
</div>
  </div>
  <div class="pcunderback">
    <div class="pcunderwrap">
      <div class="pcunderhalf">
       <div class="pcuhimg backset"></div>
      </div>
      <div class="pcunderhalf">
        <h1>Ready To Order</h1>
        <p>Choose from one of our delicious entrees and hearty sides today. Pair it
        with a tasty salad to top off the experience.  </p>
      </div>
    </div>
  </div>
  <div class="pcthree">
    <div class="pcthreewrap">
    <div class="pcthreelink">
      <div class="pcthreeimg beef"></div>
      <div class="pcthreetext">
        <div class="pctwrap">
        <h1>Available Now</h1>
        <p>Hire a personal chef for any special occasion</p>
      </div>
      </div>
    </div>
    <div class="pcthreelink">
      <div class="pcthreeimg pork"></div>
      <div class="pcthreetext">
        <div class="pctwrap">
        <h1>Traveling Chef</h1>
        <p>In home or on site service (parties, gatherings, celebrations and more!!)</p>
      </div>
      </div>
    </div>
    <div class="pcthreelink">
      <div class="pcthreeimg mainn"></div>
      <div class="pcthreetext">
        <div class="pctwrap">
        <h1>Fully Stocked</h1>
        <p>Venues with full kitchens</p>
        </div>
      </div>
    </div>
  </div>
  </div>

<div class="calemail">
  <div class="calemailhead">
    <div class="calemailwrap">
    <h1>Dine With CalorFood</h1>
    <div class="calemailbtn"><p>Book Now</p></div>
    </div>
  </div>

</div>

<div class="cfoot">
  <div class="cfootupperhold">
  <div class="cfootupper">
    <div class="cfootleft controlp">
      <p>chef@calorfood.com </p>
      <p>(phone number)</p>
      <span>*Halal</span>
    </div>
    <div class="cfootright controlp">
      <p>*hours of operation</p>
      <p><i class="fas fa-map-marker-alt"></i>&nbsp;&nbsp;DMV Area</p>
      <span class="biggersocial"><i class="fab fa-instagram"></i>&nbsp;&nbsp;&nbsp;<i class="fab fa-tiktok"></i></span>
    </div>
    </div>
  </div>
<p>Calor Food, LLC. "Fresh and Tasteful Creations"</p>
</div>

</div>
